.container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    /* grid-template-columns: repeat(2, 200px); */
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-columns: 200px 200px auto; */
    justify-content: center;
}

.item{
    border: 1px solid salmon;
}